header{
    background-color: #000;
}

.header-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 15px;
    margin: auto;
}

.logo{
    flex: 1;
    max-width: 360px;
}

.logo img{
    margin: auto;
}