@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');

* {
  font-family: 'Readex Pro', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(./assets/background.jpeg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img{
  display: block;
  max-width: 100%;
}
